$font: 'Bradesco Sans';
//Cores primárias
$red: #E1173F;
$dark-red: #AF002B;
$red-hover: #C50030;
$red-pressed: #F03663;
$red-load: #FF0033;
// Cores secundárias
$purple-dark: #73308B;
$purple-dark: #B41A83;
$pink: #F36279;
$blue-secondary: #2B469C;
// Cores sinalizadoras
$success: #0BCC56;
$warning: #FFBC00;
$blue: #3B69FF;
// Escala de cinza
$white: #FFFFFF;
$grey-50: #F0F1F5;
$grey-100: #E4E5E9;
$grey-200: #C8C9CC;
$grey-300: #A7A8AC;
$grey-500: #6D6E71;
$grey-600: #707070;
$grey-700: #47484C;
$grey-900: #202125;
$grey-label: #5C5C5C;
$grey-icon: #616161;
$black: #000000;
//Gradiente header e footer
$gradiente-pj: transparent linear-gradient(270deg, #4298CF 0%, #2E56B2 24%, #2A46AB 63%, #63328E 77%, #FA003C 100%) 0% 0% no-repeat padding-box;