@import "../../../../assets/global-scss/mixins";
@import "../../../../assets/global-scss/variables";
#root,
html,
body {
  font-size: 16px;
  font-family: "Bradesco Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.centralizar.modal {
  text-align: center;
  padding: 0;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

.modal-content {
  box-shadow: none;
  .modal-body {
    padding: calcRem(16px);
    .close {
      float: left;
      opacity: unset;
      outline: 0;
      z-index: 3;
      position: relative;
    }
  }
}

.modal-parceiro {
  padding: 0 calcRem(40px) calcRem(0px) calcRem(40px);
  color: #47484c;
  height: auto;
  @media (min-width: 0px) and (max-width: 767px) {
    padding: 0;
  }
  .center {
    text-align: center;
    img {
      margin: 0 auto;
      margin-top: calcRem(7px);
      margin-bottom: calcRem(32px);
      width: calcRem(288px);
      @media (min-width: 0px) and (max-width: 767px) {
        width: calcRem(190px);
      }
    }
  }
  .icon:after {
    content: "";
    height: 88px;
    width: 4px;
    background: #3b69ff;
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 3px 0px 0px 3px;
  }
  .icon {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 1px 1px 9px -3px rgba(0, 0, 0, 0.41);
    padding: 20px 20px 20px 24px;
    height: 88px;
    margin-bottom: 20px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      color: #47484c;
    }
  }
  .icon:nth-child(4) {
    background: none;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: calcRem(16px);
    margin-top: calcRem(35px);
  }
  p {
    font-size: calcRem(16px);
    line-height: calcRem(24px);
  }
  .btn {
    height: calcRem(48px);
    line-height: calcRem(48px);
    font-size: calcRem(14px);
    font-weight: 600;
    text-align: center;
    border-radius: calcRem(24px);
    display: inline-block;
    padding: 0 calcRem(48px);
  }
  .btn-red {
    color: #fff;
    background-color: #e1173f;
  }
  .btn-white {
    background: #fff;
    color: #3b69ff;
  }
  .row-btn {
    padding: calcRem(40px) 0 0 0;
  }
  /////SWITCK///
  .buttons {
    float: right;
    margin-top: calcRem(15px);
    @media (min-width: 0px) and (max-width: 767px) {
      width: 137px;
      height: 81px;
      margin: 0 auto;
      display: block;
      float: inherit;
      padding: 0;
      padding-top: 35px;
    }
  }
  .switch__container {
    width: auto;
    input {
      display: none;
    }
    label {
      float: left;
    }
    span {
      float: left;
      margin-left: calcRem(8px);
      font-size: calcRem(16px);
      font-weight: 500;
      display: block;
    }
  }
  .switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .switch--flat + label {
    width: calcRem(40px);
    height: calcRem(18px);
    background-color: #3b69ff;
    border-radius: calcRem(60px);
    transition: background 0.4s;
  }
  .switch--flat + label:before,
  .switch--flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  .switch--flat + label:before {
    // fundo 1
    top: calcRem(2px);
    left: calcRem(2px);
    bottom: calcRem(2px);
    right: calcRem(2px);
    background-color: #fff;
    border-radius: calcRem(60px);
    transition: background 0.4s;
  }
  .switch--flat + label:after {
    top: calcRem(3px);
    left: calcRem(4px);
    bottom: calcRem(4px);
    width: calcRem(12px);
    height: calcRem(12px);
    background-color: #3b69ff;
    border-radius: calcRem(52px);
    transition: margin 0.4s, background 0.4s;
  }
  .switch--flat:checked + label {
    background-color: #3b69ff;
  }
  .switch--flat:checked + label:before {
    background-color: #3b69ff;
  }
  .switch--flat:checked + label:after {
    margin-left: calcRem(21px);
    background-color: #fff;
  }
  .space {
    margin-bottom: calcRem(15px);
  }
}

@media (max-width: 991px) {
  .modal-parceiro {
    .icon {
      background: none;
    }
  }
}

.scrollInfo {
  overflow-y: auto;
  max-height: 350px;
  word-wrap: break-word;
}

.no {
  background: transparent !important;
}
