<div data-backdrop="static" data-keyboard="false" id="modalLoad" class="modal-small modal fade bs-example-modal-md" tabindex="-1" role="dialog">
    <div class="first modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="loading">
                    <div class="loading-1 loading-child"></div>
                    <div class="loading-2 loading-child"></div>
                    <div class="loading-3 loading-child"></div>
                    <div class="loading-4 loading-child"></div>
                    <div class="loading-5 loading-child"></div>
                    <div class="loading-6 loading-child"></div>
                    <div class="loading-7 loading-child"></div>
                    <div class="loading-8 loading-child"></div>
                    <div class="loading-9 loading-child"></div>
                    <div class="loading-10 loading-child"></div>
                    <div class="loading-11 loading-child"></div>
                    <div class="loading-12 loading-child"></div>
                </div>
            </div>
        </div>
    </div>
</div>